:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #2196F3;
}

ul,
h1,
h3,
h2,
h4,
p {
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

a {
  display: block;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.link {
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero_btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  background-color: #2196F3;
  cursor: pointer;
  margin: auto;
  border-radius: 4px;
  padding: 10px 32px;
}

.hero_btn:focus, .hero_btn:hover {
  background-color: var(--secondary-text-color);
  color: var(--secondary-title-color);
}

.social_item {
  width: 44px;
  height: 44px;
}

.social_item:not(:first-child) {
  margin-left: 10px;
}

.social_link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social_link:focus, .social_link:hover {
  background-color: var(--secondary-text-color);
  border-radius: 50%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  justify-content: center;
  align-items: center;
}

.social_icon:hover, .social_icon:focus {
  fill: #ffffff;
  border-color: var(--secondary-text-color);
}

.menu_btn:hover,
.menu_btn:focus {
  color: var(--primary-title-color);
  background-color: var(--secondary-text-color);
}

.menu_btn {
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  cursor: pointer;
  display: block;
  padding: 6px 22px;
  /* height: 38px; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .menu {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.menu_nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 480px) {
  .menu_nav {
    justify-content: start;
  }
  .menu_nav:nth-child(4) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) {
  .menu_nav {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .menu_nav {
    margin-bottom: 50px;
  }
}

.menu_title {
  margin-left: 8px;
  margin-bottom: 15px;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is_hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  max-width: 450px;
  height: auto;
  background: #ffffff;
  border-radius: 4px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
    background: #ffffff;
    border-radius: 4px;
    position: absolute;
  }
}

.close_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  right: 18px;
  top: 18px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close_button {
  width: 18px;
  height: 18px;
  justify-content: center;
  align-items: center;
}

.close_button:hover {
  fill: var(--secondary-text-color);
}

/* .close-btn:hover {
    border-color:var(--secondary-text-color)
} */
textarea {
  resize: none;
}

.modal_form {
  padding: 40px;
}

.title_form {
  /* width: 448px;
height: 23px;
left: 576px;
top: 261px; */
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form_name {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  cursor: pointer;
}

.form_item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form_input {
  /* width: 448px; */
  height: 40px;
  left: 576px;
  top: 314px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_input:hover, .form_input:focus {
  outline: none;
  border: 1px solid #2196F3;
}

.form_name:hover.form_icon {
  fill: #2196F3;
}

.form_input:focus + .form_icon {
  fill: #2196F3;
}

.form_icon {
  height: 15px;
  width: 12px;
  position: absolute;
  top: 31px;
  left: 12px;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* fill: var(--primary-black-color); */
}

.comment {
  outline: none;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus, .comment:hover {
  outline: none;
  border: 1px solid #2196F3;
}

.form_checkbox {
  font-size: 14px;
  line-height: 1.2;
  color: var(--primary-text-color);
  display: flex;
  /* margin-bottom: 15px; */
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .form_checkbox {
    font-size: 12px;
    line-height: 1.16;
  }
}

.form_checkbox .span {
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 3px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agreement:checked + .form_checkbox .span {
  background-color: var(--secondary-text-color);
  border: 2px solid var(--secondary-text-color);
}

.form_agry {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .form_agry {
    margin-left: 5px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196f3;
  }
}

.hidden_visual {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn_send {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn_submit {
  background: var(--secondary-text-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin-top: 30px;
}

@media screen and (max-width: 1199px) {
  .footer_form {
    margin-left: auto;
    margin-right: auto;
  }
}

.strong {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  color: var(--primary-title-color);
  margin-bottom: 20px;
  margin-left: 115px;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .strong {
    margin-left: 255px;
    margin-right: auto;
    padding-top: 15px;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .strong {
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    justify-content: flex-start;
  }
}

.write_send {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .write_send {
    display: flex;
    flex-direction: row;
    align-items: normal;
  }
}

.footer_input {
  margin-bottom: 10px;
  outline: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  color: var(--primary-title-color);
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn_write {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  left: 1185px;
  top: 2787px;
  border: none;
  background-color: var(--secondary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon_send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.btn_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  margin-right: 10px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.Logo {
  color: var(--secondary-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .Logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .Logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .Logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.Logostudio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: black;
}

.header_list {
  list-style: none;
  display: flex;
}

@media screen and (max-width: 767px) {
  .header_list {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .header_list {
    margin-left: 88px;
  }
}

.heder_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .header_container {
    position: relative;
  }
}

.header_nav {
  display: flex;
  position: relative;
}

.header_item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header_item:hover, .header_item:focus {
  color: var(--secondary-text-color);
}

.header_item:not(:last-child) {
  margin-right: 50px;
}

.heder_link {
  position: relative;
  color: var(--secondary-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heder_link:hover, .heder_link:focus {
  color: var(--secondary-text-color);
}

.heder_link--current {
  color: var(--secondary-text-color);
}

.heder_link--current::after {
  content: "";
  left: 0;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0px;
  border-radius: 2px;
  background-color: var(--secondary-text-color);
}

.header_contact {
  list-style: none;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header_contact {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
  .header_contact {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header_contact {
    display: flex;
  }
}

.contact_item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact_item:hover, .contact_item:focus {
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .contact_item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact_item--top {
    padding-top: 21px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact_item--bottom {
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact_list:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contact_list:not(:last-child) {
    margin-right: 30px;
  }
}

.email_icon {
  height: 12px;
  width: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.tel_icon {
  height: 16px;
  width: 10px;
  margin-right: 10px;
  fill: currentColor;
}

.baner {
  background-color: #2f303a;
}

.hero_main {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin: auto;
  margin-bottom: 30px;
}

.hero_main {
  padding-top: auto;
  padding-bottom: auto;
}

@media screen and (max-width: 480px) and (min-width: 768px) {
  .hero_main {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 768px) {
  .hero_main {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero_main {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.baner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/mobile/Header-mob.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .baner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/mobile/Header-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .baner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/tablet/Header-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .baner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/tablet/Header-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .baner {
    height: 600px;
    background-image: linear-gradient to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), url(../imeges/background.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .baner {
    background-image: linear-gradient to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), url(../imeges/desktop/Background-desc-2x.jpg);
  }
}

.about_us-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .about_us-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about_us-item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .about_us-item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

@media screen and (min-width: 768px) {
  .about_us-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .about_us-list {
    display: flex;
    flex-wrap: nowrap;
  }
}

.about_us {
  padding-top: 94px;
  padding-bottom: 47px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about_us {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.about_us_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 10px;
  display: flex;
}

.about_us-title:not(:last-child) {
  margin-right: 50px;
}

.about_us-icon_antena,
.about_us-icon_clock,
.about_us-icon_diagram,
.about_us-icon_astronaut {
  height: 70px;
  width: 70px;
}

.about_us-pictures {
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.we-do {
  padding-top: 47px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .we-do {
    display: none;
  }
}

.we_do_list {
  display: flex;
  flex-basis: calc(100% / 3 - 90px);
}

.we-do__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.we-do__item:not(:first-child) {
  margin-left: 30px;
}

.we-do__text {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.17;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-title-color);
  bottom: 0;
}

.we-do__card {
  position: relative;
}

.team_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1600px;
  margin: auto;
}

.photo_us {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-title-color);
}

.team_list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team_list {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team_list {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
  }
}

.photo_us {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .photo_us {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .photo_us {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.team_photo {
  margin-bottom: 30px;
}

.name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.prof {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  padding: auto;
  margin-top: 10px;
}

.team_list_item {
  margin-bottom: 30px;
}

.client {
  /* display: flex; */
  padding-top: 94px;
  padding-bottom: 94px;
}

.title_client {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.client_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client_link:focus, .client_link:hover {
  border-color: #2196F3;
  fill: #2196F3;
}

@media screen and (max-width: 767px) {
  .client_item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client_item {
    flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .client_item:not(:last-child) {
    margin-right: 30px;
  }
}

.company_icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
}

.company_icon:hover, .company_icon:focus {
  fill: #2196F3;
  border-color: #2196F3;
}

@media screen and (max-width: 1199px) {
  .client_list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .client_list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo_foot {
  margin-bottom: 20px;
  height: 31px;
  width: 145px;
  /* margin-right: 70px; */
}

.Logostudio_footer {
  color: #ffffff;
}

.footer_list {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer_list {
    align-items: flex-end;
    width: 231px;
  }
}

.adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.mail .tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
  /* height: 252px; */
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.Logo_footer {
  color: var(--secondary-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  /* margin-right: 93px;
    margin-bottom: 25px;
    padding-top: 60px; */
}

.footer_item {
  display: block;
}

.footer_item:not(:last-child) {
  margin-bottom: 9px;
}

/* .footer-social { */
/* display: flex;
    flex-direction: column; */
.social_title {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 145px;
  height: 16px;
  left: 516px;
  top: 2751px;
  color: var(--primary-title-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.head_footer_container {
  display: block;
  /* padding-top: 60px;
    /* padding-bottom: 60px; */
}

@media screen and (min-width: 1200px) {
  .head_footer_container {
    display: flex;
    align-items: baseline;
  }
}

.footer_container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer_container {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .footer_container {
    padding-right: 0px;
    align-items: baseline;
    margin-right: 70px;
  }
}

.footer_social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_social-link:focus, .footer_social-link:hover {
  background-color: var(--secondary-text-color);
  border-radius: 50%;
}

.footer_social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  justify-content: center;
  align-items: center;
}

.footer_social-icon:hover, .footer_social-icon:focus {
  fill: #ffffff;
  border-color: var(--secondary-text-color);
}

.footer_web {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
  /* margin-left: 215px; */
}

@media screen and (min-width: 768px) {
  .footer_web {
    margin-right: 168px;
  }
}

@media screen and (min-width: 1200px) {
  .footer_web {
    margin-right: 70px;
  }
}

.footer_social-item {
  width: 44px;
  height: 44px;
}

.footer_social-item:not(:first-child) {
  margin-left: 10px;
}

.footer_social {
  margin-bottom: 60px;
}

.project_list {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}

.project_item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.container_nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.galary_item {
  position: relative;
  overflow: hidden;
}

.galary_discription {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  /* text-align: center; */
  color: white;
  top: 0px;
  left: 0px;
  height: 100%;
  /* width: 100%; */
  padding: 63px 24px;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--secondary-text-color);
}

.galary_discription--text {
  text-align: left;
  padding-right: 24px;
  padding-left: 24px;
}

.galary_link:hover .galary_discription {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .galary_discription {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .galary_discription {
    padding: 63px 24px;
  }
}

.galary_link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.galary_link:hover, .galary_link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .galary {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .galary :nth-child(9) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .galary {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.galary_list {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .galary_list {
    margin-bottom: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .galary_list {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .galary_list:nth-child(1) {
    margin-left: 0px;
  }
  .galary_list:nth-child(4) {
    margin-left: 0px;
  }
  .galary_list:nth-child(7) {
    margin-left: 0px;
  }
  .galary_list:nth-child(1) {
    margin-top: 0px;
  }
  .galary_list:nth-child(2) {
    margin-top: 0px;
  }
  .galary_list:nth-child(3) {
    margin-top: 0px;
  }
}

.menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-block;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: var(--secondary-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn:hover, .menu-btn:focus {
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn.js-close-menu {
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
}

.burger-menu {
  width: 25px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.close-burger-menu {
  width: 25px;
  height: 16px;
  fill: var(--secondary-title-color);
}

.header_list_mobile {
  margin: 48px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
}

.header_item_mobile {
  margin-bottom: 32px;
  position: relative;
}

.heder_link_mobile {
  position: relative;
  font-family: null;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: inherit;
  color: black;
}

@media screen and (max-width: 479px) {
  .heder_link_mobile {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-family: null;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: inherit;
    color: black;
  }
}

.heder_link_mobile:hover, .heder_link_mobile:focus {
  color: var(--secondary-text-color);
}

.heder_link--current {
  color: var(--secondary-text-color);
}

.heder_link--current::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--secondary-text-color);
  border-radius: 4px;
}

.header_contact_mobile {
  margin: 0 0 64px 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 479px) {
  .header_contact_mobile {
    margin-bottom: 40px;
  }
}

.contact_list_mobile:not(:last-child) {
  margin-right: 32px;
}

.contact_item_mobile {
  display: block;
  text-decoration: none;
  font-family: roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
}

@media screen and (max-width: 479px) {
  .contact_item_mobile {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
  }
}

.contact_item_mobile--current {
  font-family: Roboto;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

@media screen and (max-width: 479px) {
  .contact_item_mobile--current {
    font-family: roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
}

.soc-mobile {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 48px;
}

@media screen and (max-width: 320px) {
  .soc-mobile {
    display: flex;
    flex-wrap: wrap;
  }
}

.soc-mobile__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.soc-mobile__link {
  display: block;
  text-decoration: none;
  color: var(--secondary-text-color);
  padding-left: 10px;
  padding-right: 10px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  background-color: var(--primary-title-color);
  overflow-y: scroll;
  z-index: 9;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.container__mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media screen and (max-width: 479px) {
  .container__mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
/*# sourceMappingURL=main.css.map */