.logo_foot {
    margin-bottom: 20px;
    height: 31px;
    width: 145px;
    /* margin-right: 70px; */
}
.Logostudio_footer {
    color: #ffffff;
}
    

.adress {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
}
.mail .tel {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    /* height: 252px; */
    max-width: 1600px;
    margin: auto;
    /* display: flex; */
    
}
.Logo_footer {
    color:  var(--secondary-text-color);
    font-family: Raleway; 
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    /* margin-right: 93px;
    margin-bottom: 25px;
    padding-top: 60px; */
}
.footer_item {
        display: block;
        &:not(:last-child) {
            margin-bottom: 9px;
        }
}
// .footer_item {
    
// }
/* .footer-social { */
    /* display: flex;
    flex-direction: column; */
    

.social_title {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 145px;
    height: 16px;
    left: 516px;
    top: 2751px;
    color: var(--primary-title-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.head_footer_container {
    display: flex;
    /* padding-top: 60px;
    /* padding-bottom: 60px; */
}
.footer_container {
    display: flex;
    align-items:baseline; 
    margin-right: 70px;
    
}
.footer_social-list {
    @include centerflex();
}
.footer_social-link {
    @include centerflex();
    // display: flex;
    // align-items: center;
    // justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover{
        background-color: var(--secondary-text-color);
        border-radius: 50%; 
    }
}
// .footer-social-link:hover,
// .footer-social-link:focus {
//   background-color: var(--secondary-text-color);
//   border-radius: 50%;
// }

// .footer-social-link:hover .footer-social-icon,
// .footer-social-link:focus .footer-social-icon {
//   fill: var(--primary-title-color);
// }
.footer_social-icon { 
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    justify-content: center;
    align-items: center;
    &:hover,
    &:focus {
        fill:#ffffff;
        border-color: var(--secondary-text-color)
   
    }
}
.footer_web {
    margin-right: 70px;
    /* margin-left: 215px; */
}
.footer_social-item {
    width: 44px;
    height: 44px;
}
.footer_social-item {
    &:not(:first-child) {
    
    margin-left: 10px;
    }
}
