.baner {
  background-color: #2f303a;
}
.hero_main {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  // width: 696px;
  margin: auto;
  margin-bottom: 30px;
}
.hero_main {
  padding-top: auto;
  padding-bottom: auto;
  @media screen and (max-width: 480px) {
    max-width: 360px;
    font-size: 24px;
    line-height: 1.62;
  }

  @media screen and (min-width: 768px) {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.baner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imeges/mobile/Header-mob.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../imeges/mobile/Header-mob-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    // max-width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../imeges/tablet/Header-tab.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../imeges/tablet/Header-tab-2x.jpg);
    }
    margin: auto;
  }
  @media screen and (min-width: 1200px) {
    height: 600px;
    max-width: 1600px;
    margin: auto;

    background-image: linear-gradient
        (rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../imeges/background.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient
          (rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../imeges/desktop/Background-desc-2x.jpg);
    }
  }

  // padding-bottom: 200px;
}

//  padding-top: 200px;
//  height: 600px;
//  max-width: 1600px;
//  margin: auto;
//  text-align: center;
//  background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4) ),
//   url(../imeges/background.jpg);
//  background-repeat: no-repeat;
//  background-position: center;
//  background-size: cover;
//  @media screen and (min-width: 768px) {
//      min-width: 768px;
//  }
// }
